@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Monstserrat", serif;
}

.bg {
  height: 127px;
  background-image: radial-gradient(circle 210px at 50% 156%, #5833a6, #000000);
  /* background-color: red !important; */
  /* background-size: 100% 90%; */
  overflow: hidden;
  /* border: 1px solid red; */
  border-radius: 1000px 1000px 0 0;
}